html,body,#app{
    height:100%;
    width:100%;
    overflow: hidden;
}
#app{
    overflow-x: auto;
}
.ph-container{
    display: none;
    height:100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.ph-layout{
    display: none;
}
@media screen and (max-width:767px){
    .ph-container{
        display: block;
    }
    .ph-layout{
        display: block;
    }
}



/*element 组件样式修改*/
.el-switch__label--left {
    position: relative;
    margin-right: 7px;
    left: 46px;
    color: #fff;
    z-index: -1111;
}
.el-switch__label--right {
    position: relative;
    margin-left: 7px;
    right: 46px;
    color: #fff;
    z-index: -1111;
}
.el-switch__label.is-active {
    z-index: 1111;
    color: #fff;
}

.el-switch__label--left{
    position: relative;
    left: 46px;
    color: #fff;
    z-index: -1111;
}
.el-switch__label--right{
    position: relative;
    right: 46px;
    color: #fff;
    z-index: -1111;
}
.el-switch__label--right.is-active{
    z-index: 1111;
    color: #fff !important;
}
.el-switch__label--left.is-active{
    z-index: 1111;
    color: #9c9c9c !important;
}
.tab-container {
    height: 100%;
    overflow: hidden;
}
.tab-container .el-tabs__header {
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.tab-container .el-tabs__header .el-tabs__item{
    width:120px;
    text-align: center;
}
.tab-container .el-tabs__header .el-tabs__nav{
    height: 50px;
    width:260px;
    line-height: 55px;
}
.tab-container .el-tabs__content {
    height: calc(100% - 65px);
    overflow: auto;
}
.tab-container .el-tab-pane{
    margin: 0 20px;
}

/*颜色*/
.red{
    color:#ff0000;
}